<div class="progress-stacked my-1">
  <div class="progress" [style.width]= "stats().rates.closed | percent: '.0-8'">
    <div class="progress-bar" [ngClass]="'bg-' + ('closed' | todostatus : 'bootstrap')">
      {{ stats().rates.closed | percent: '.0-2' }} ({{ stats().counts.closed }})
    </div>
  </div>
  <div class="progress" [style.width]= "stats().rates.inProgress | percent: '.0-8'">
    <div class="progress-bar" [ngClass]="'bg-' + ('in-progress' | todostatus : 'bootstrap')">
      {{ stats().rates.inProgress | percent: '.0-2' }} ({{ stats().counts.inProgress }})
    </div>
  </div>
  <div class="progress" [style.width]= "stats().rates.late | percent: '.0-8'">
    <div class="progress-bar" [ngClass]="'bg-' + ('late' | todostatus : 'bootstrap')">
      {{ stats().rates.late | percent: '.0-2' }} ({{ stats().counts.late }})
    </div>
  </div>
</div>
